.center-position {
    margin-left: 5%;
    margin-right: 5%;
    
}

.width-common {
    width: 90%;
}

#height-speacial {
    height: 50%;
}
 
#div2 {
   background-color: #EEEEEE;
   height: 75px;
   margin-top: -17px;
}

.input-position {
  margin-top: -16px;
}
.button-position {
    margin-top: -18px;
}

table {
    margin-top: -10px;
    
}